@*@model IEnumerable<MagazineApplication.Models.Subscriber>*@

@model PagedList.IPagedList<MagazineApplication.Models.Subscriber>

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



@using (Html.BeginForm("Index", "Subscriber", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = "Name", currentFilter = ViewBag.CurrentFilter })

        </th>
        @*<th>
        @Html.Action("Description", "Index", new { sortOrder = "Description", currentFilter = ViewBag.CurrentFilter })
    </th>
    <th>
        @Html.Action("Address", "Index", new { sortOrder = "Address", currentFilter = ViewBag.CurrentFilter })
    </th>*@
        
        <th></th>

    </tr>


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>



        @foreach (var item in Model) {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
    </tr>
    }

</table>

<br />
Page @(Model.PageCount <Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))







@*<th>
        @Html.DisplayNameFor(model => model.Address)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Email)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Phone)
    </th>*@


@*
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubscriberDetails.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>*@


@*<td>
        @Html.DisplayFor(modelItem => item.SubscriberDetails.Notes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>*@